<section class="container mx-auto">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Jeu du Morpion</h1>
  <div class="flex justify-center">
    <div class="p-8 bg-amber-300 w-1/2">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-8">
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">1</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">2</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">3</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">4</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">5</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">6</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">7</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">8</li>
        <li class="px-4 py-16 bg-cyan-400 rounded-md flex items-center justify-center">9</li>
      </div>
    </div>
  </div>
</section>